# https://ci.appveyor.com/project/flr/flcore
#
# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

# Adapt as necessary starting from here

environment:
  matrix:
  - R_VERSION: devel
  - R_VERSION: release

build_script:
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests
  - travis-tool.sh dump_logs
  - 7z a Logs.zip *.Rcheck\*
  - appveyor PushArtifact Logs.zip

on_failure:
  - travis-tool.sh dump_logs
  - 7z a Bits.zip *_*.zip
  - appveyor PushArtifact Bits.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
