useDynLib("FLCore")
import("methods")
importFrom("stats",
  "update",
  "AIC",
  "BIC",
  "logLik",
  "vcov",
  "fitted",
  "residuals",
  "coef",
  "quantile",
  "rnorm",
  "rlnorm",
  "rgamma",
  "median",
  "profile",
  "var",
  "rpois",
  "sd",
  "window")
importFrom("graphics","plot")
importFrom("lattice",
	"barchart",
	"bwplot",
	"densityplot",
	"dotplot",
	"histogram",
  "llines",
  "lpoints",
	"splom",
	"stripplot",
  "trellis.device",
  "trellis.focus",
  "trellis.par.set",
  "trellis.unfocus",
	"xyplot"
)
export(
  "plot",
  "abModel",
  "abPars",
  "ac",
	"bevholt",
	"bevholtAR1",
	"bevholtSV",
	"checkIdentical",
	"checkEqual",
	"checkFalse",
	"checkFail",
	"checkRun",
	"checkTrue",
  "convert6d",
  "cor2cov",
	"createFLAccesors",
  "cushing",
	"is.FLBiol",
	"is.FLQuant",
	"is.FLStock",
	"finishTest",
  "geomean",
  "getPlural",
  "getSlotNamesClass",
  "loglAR1",
  "readADMB",
	"readVPA2Box",
	"readVPAFile",
	"readFLIndex",
	"read.FLIndex",
	"readFLIndices",
	"read.FLIndices",
	"readFLStock",
	"ricker",
	"rickerAR1",
	"rickerCa",
	"rickerSV",
  "segreg",
	"setCon",
  "shepherd",
  "shepherdSV",
	"sop",
	"sr",
  "SRModelName",
  "SRNameCode",
	"startTest",
  "svModel",
  "svPars",
	"tagTest",
  "writeADMB",
	"writeFLStock"
)
exportClasses(
	"FLArray",
	"FLCatch",
	"FLCatches",
	"FLComp",
	"FLComps",
	"FLFleet",
	"FLFleets",
	"FLBiol",
	"FLBiols",
	"FLCohort",
	"FLCohorts",
	"FLComp",
	"FLGrowth",
	"FLIndex",
	"FLIndices",
	"FLlst",
	"FLMetier",
	"FLMetiers",
	"FLModel",
	"FLPar",
	"FLQuant",
	"FLQuantPoint",
	"FLQuants",
	"FLSR",
	"FLSRs",
	"FLStock",
	"FLStocks"
)
exportMethods(
  "+",
  "[",
	"[<-",
  "ab",
	"AIC",
	"apply",
	"areaMeans",
	"areaSums",
	"areaVars",
	"as.data.frame",
	"as.FLBiol",
	"as.FLIndex",
	"as.FLQuant",
	"as.FLStock",
	"as.FLSR",
	"Arith",
	"barchart",
	"BIC",
	"bkey",
	"bubbles",
	"bwplot",
	"capacity",
	"capacity<-",
	"catch",
	"catch<-",
	"catch.n",
	"catch.n<-",
	"catch.q",
	"catch.q<-",
	"catch.sel",
	"catch.wt",
	"catch.wt<-",
	"catches",
	"catches<-",
	"catchNames",
	"ccplot",
	"coerce",
	"computeDiscards",
	"computeCatch",
	"computeD",
	"computeHessian",
	"computeLandings",
	"computeStock",
  "convertFLPar",
	"covar",
	"covar<-",
	"crewshare",
	"crewshare<-",
	"cv",
	"densityplot",
  "desc",
  "desc<-",
	"details",
	"details<-",
	"dimnames<-",
	"dims",
	"dimMeans",
	"dimSums",
	"dimVars",
	"discards",
	"discards<-",
	"discards.n",
	"discards.n<-",
	"discards.sel",
	"discards.sel<-",
	"discards.wt",
	"discards.wt<-",
	"dotplot",
	"E",
	"effort",
	"effort<-",
	"effshare",
	"effshare<-",
  "expand",
  "fapex",
  "fbar",
	"fcost",
	"fcost<-",
	"fec",
	"fec<-",
	"fitted",
	"fitted<-",
	"flc2flq",
	"FLBiol",
	"FLBiols",
	"FLCatch",
	"FLCatches",
	"FLCohort",
	"FLCohorts",
	"FLFleet",
	"FLFleets",
	"FLGrowth",
	"FLIndex",
	"FLIndices",
	"FLlst",
	"FLMetier",
	"FLMetiers",
  "FLModel",
	"FLPar",
	"FLQuant",
	"FLQuants",
	"FLQuantPoint",
	"FLSR",
	"FLSRs",
	"FLStock",
	"FLStocks",
  "gear",
  "gear<-",
  "gr",
  "gr<-",
	"harvest",
	"harvest<-",
	"harvest.spwn",
	"harvest.spwn<-",
  "hessian",
  "hessian<-",
	"histogram",
  "index",
  "index<-",
  "index.q",
  "index.q<-",
  "index.var",
  "index.var<-",
	"initial",
  "initial<-",
	"iter",
	"iter<-",
	"iterMeans",
	"iterVars",
	"iters",
  "jacknife",
  "jackSummary",
	"landings",
	"landings<-",
	"landings.n",
	"landings.n<-",
	"landings.sel",
	"landings.sel<-",
	"landings.wt",
	"landings.wt<-",
	"lapply",
	"leslie",
  "logerror",
  "logerror<-",
	"logl",
	"logl<-",
	"logLik",
	"logLik<-",
  "lower",
  "lower<-",
  "lowess",
	"lowq",
	"lowq<-",
	"m",
	"m<-",
	"m.spwn",
	"m.spwn<-",
  "mass",
	"mat",
	"mat<-",
	"mean",
	"mean<-",
	"mean.lifespan",
	"mcf",
	"median",
	"median<-",
	"metier",
	"metier<-",
	"metiers",
	"metiers<-",
	"fmle",
	"model",
	"model<-",
	"model.frame",
	"n",
	"n<-",
	"name",
	"name<-",
	"names",
	"names<-",
	"nls",
	"params",
	"params<-",
  "parscale",
	"plot",
	"predict",
	"price",
	"price<-",
	"print",
  "profile",
	"propagate",
	"pv",
	"qapply",
  "qmax",
  "qmin",
	"quant",
	"quant<-",
	"quantile",
	"quantMeans",
	"quantSums",
	"quantVars",
	"quantTotals",
  "r",
  "range",
  "range<-",
  "readMFCL",
	"rec",
	"rec<-",
	"residuals",
	"residuals<-",
  "revenue",
	"rgamma",
	"rlnorm",
	"rnorm",
  "rpois",
  "rSq",
  "sd",
	"seasonMeans",
	"seasonSums",
	"seasonVars",
  "sel.pattern",
  "sel.pattern<-",
	"setPlusGroup",
	"show",
  "sp",
	"splom",
  "spr0",
	"spwn",
	"spwn<-",
  "sigma",
	"ssb",
	"ssb<-",
	"ssbpurec",
	"ssn",
	"stock",
	"stock<-",
	"stock.n",
	"stock.n<-",
	"stock.wt",
	"stock.wt<-",
	"stripplot",
	"summary",
  "survprob",
  "sv",
  "sweep",
	"transform",
  "trim",
	"tsb",
	"type",
	"type<-",
	"units",
	"units<-",
	"unitMeans",
	"unitSums",
	"unitVars",
  "update",
  "upper",
  "upper<-",
	"uppq",
	"uppq<-",
	"var",
	"var<-",
	"vcost",
	"vcost<-",
	"vcov",
	"vcov<-",
	"window",
	"wt",
	"wt<-",
	"xyplot",
	"yearMeans",
	"yearSums",
	"yearTotals",
	"yearVars"
)
