useDynLib("FLCore")
import("methods")
importFrom("stats",
  "update",
  "AIC",
  "logLik",
  "vcov",
  "fitted",
  "residuals",
  "coef",
  "rnorm",
  "rlnorm",
  "rgamma",
  "median",
  "var",
  "rpois",
  "sd",
  "window")
importFrom("graphics",
	"plot"
)
importFrom("stats4",
  "BIC")
importFrom("lattice",
	"xyplot",
	"bwplot",
	"densityplot",
	"dotplot",
	"barchart",
	"splom",
	"stripplot",
	"histogram"
)
export(
  "ab2sv",
  "ac",
	"bevholt",
	"bevholt.ar1",
	"bevholt.c.a",
	"bevholt.c.b",
	"bevholt.d",
	"bevholt.ndc",
	"bevholt.sv",
	"Bevholt.SV",
	"checkIdentical",
	"checkEqual",
	"checkFalse",
	"checkFail",
	"checkRun",
	"checkTrue",
  "convert6d",
	"createFLAccesors",
	"is.FLBiol",
	"is.FLQuant",
	"is.FLStock",
	"finishTest",
  "geomean",
  "getPlural",
  "logl.ar1",
	"readVPAFile",
	"readFLIndex",
	"readFLIndices",
	"readFLStock",
	"ricker",
	"ricker.ar1",
	"ricker.c.a",
	"ricker.c.b",
	"ricker.d",
	"ricker.sv",
	"Ricker.SV",
  "segreg",
	"setCon",
  "shepherd",
  "shepherd.d",
  "shepherd.ndc",
  "shepherd.ar1",
  "shepherd.d.ar1",
  "shepherd.ndc.ar1",
	"sop",
	"sr",
  "SRModelName",
	"startTest",
  "sv2ab",
	"tagTest",
	"writeFLStock"
)
exportClasses(
	"FLArray",
	"FLCatch",
	"FLCatches",
	"FLComp",
	"FLFleet",
	"FLFleets",
	"FLBiol",
	"FLBiols",
	"FLCohort",
	"FLCohorts",
	"FLComp",
	"FLIndex",
	"FLIndices",
	"FLlst",
	"FLMetier",
	"FLMetiers",
	"FLModel",
	"FLPar",
	"FLQuant",
	"FLQuantPoint",
	"FLQuants",
	"FLSR",
	"FLStock",
	"FLStocks"
)
exportMethods(
  "+",
  "[",
	"[<-",
	"AIC",
	"apply",
	"areaMeans",
	"areaSums",
	"areaVars",
	"as.data.frame",
	"as.FLBiol",
	"as.FLIndex",
	"as.FLQuant",
	"as.FLStock",
	"as.FLSR",
	"Arith",
	"barchart",
	"BIC",
	"bkey",
	"bubbles",
	"bwplot",
	"capacity",
	"capacity<-",
	"catch",
	"catch<-",
	"catch.n",
	"catch.n<-",
	"catch.q",
	"catch.q<-",
	"catch.sel",
	"catch.wt",
	"catch.wt<-",
	"catches",
	"catches<-",
	"catchNames",
	"ccplot",
	"coerce",
	"computeDiscards",
	"computeCatch",
	"computeLandings",
	"computeStock",
  "convertFLPar",
	"covar",
	"covar<-",
	"crewshare",
	"crewshare<-",
	"cv",
	"densityplot",
  "desc",
  "desc<-",
	"details",
	"details<-",
	"dimnames<-",
	"dims",
	"dimMeans",
	"dimSums",
	"dimVars",
	"discards",
	"discards<-",
	"discards.n",
	"discards.n<-",
	"discards.sel",
	"discards.sel<-",
	"discards.wt",
	"discards.wt<-",
	"dotplot",
	"E",
	"effort",
	"effort<-",
	"effshare",
	"effshare<-",
  "expand",
  "fbar",
	"fcost",
	"fcost<-",
	"fec",
	"fec<-",
	"fitted",
	"fitted<-",
	"flc2flq",
	"FLBiol",
	"FLBiols",
	"FLCatch",
	"FLCatches",
	"FLCohort",
	"FLCohorts",
	"FLFleet",
	"FLFleets",
	"FLlst",
	"FLIndex",
	"FLIndices",
	"FLMetier",
	"FLMetiers",
  "FLModel",
	"FLPar",
	"FLQuant",
	"FLQuants",
	"FLQuantPoint",
	"FLSR",
	"FLStock",
	"FLStocks",
  "gear",
  "gear<-",
  "grad",
  "grad<-",
	"harvest",
	"harvest<-",
	"harvest.spwn",
	"harvest.spwn<-",
	"histogram",
  "index",
  "index<-",
  "index.q",
  "index.q<-",
  "index.var",
  "index.var<-",
	"initial",
  "initial<-",
	"iter",
	"iter<-",
	"iterMeans",
	"iterVars",
	"iters",
	"is.FLBiols",
	"is.FLCatches",
	"is.FLFleets",
	"is.FLIndices",
	"is.FLMetiers",
	"is.FLStocks",
	"is.FLQuants",
  "jacknife",
	"landings",
	"landings<-",
	"landings.n",
	"landings.n<-",
	"landings.sel",
	"landings.sel<-",
	"landings.wt",
	"landings.wt<-",
	"lapply",
	"leslie",
	"logl",
	"logl<-",
	"logLik",
	"logLik<-",
  "lower",
  "lower<-",
  "lowess",
	"lowq",
	"lowq<-",
	"m",
	"m<-",
	"m.spwn",
	"m.spwn<-",
	"mat",
	"mat<-",
	"mean",
	"mean<-",
	"mean.lifespan",
	"mcf",
	"median",
	"median<-",
	"metier",
	"metier<-",
	"metiers",
	"metiers<-",
	"fmle",
	"model",
	"model<-",
	"model.frame",
	"n",
	"n<-",
	"name",
	"name<-",
	"names",
	"nls",
	"params",
	"params<-",
	"plot",
	"predict",
	"price",
	"price<-",
	"print",
	"propagate",
	"pv",
	"qapply",
	"quant",
	"quant<-",
	"quantile",
	"quantMeans",
	"quantSums",
	"quantVars",
	"quantTotals",
  "r",
  "range",
  "range<-",
	"rec",
	"rec<-",
	"residuals",
	"residuals<-",
  "revenue",
	"rgamma",
	"rlnorm",
	"rnorm",
  "rpois",
  "sd",
	"seasonMeans",
	"seasonSums",
	"seasonVars",
  "sel.pattern",
  "sel.pattern<-",
	"setPlusGroup",
	"show",
	"splom",
  "spr0",
	"spwn",
	"spwn<-",
	"ssb",
	"ssb<-",
	"ssbpurec",
	"ssn",
	"stock",
	"stock<-",
	"stock.n",
	"stock.n<-",
	"stock.wt",
	"stock.wt<-",
	"stripplot",
	"summary",
  "survprob",
  "sweep",
	"transform",
  "trim",
	"type",
	"type<-",
	"units",
	"units<-",
	"unitMeans",
	"unitSums",
	"unitVars",
  "update",
  "upper",
  "upper<-",
	"uppq",
	"uppq<-",
	"var",
	"var<-",
	"vcost",
	"vcost<-",
	"vcov",
	"vcov<-",
	"window",
	"wt",
	"wt<-",
	"xyplot",
	"yearMeans",
	"yearSums",
	"yearTotals",
	"yearVars"
)
