import("methods")
importFrom("iterators", "iter")
importFrom("utils",
  "packageDescription",
  "combn",
  "read.table",
  "tail")
importFrom("MASS",
  "mvrnorm")
importFrom("Matrix",
  "expand")
importFrom("stats4",
  "BIC")
importFrom("stats",
  "AIC",
  "as.formula",
  "coef",
  "coefficients",
  "complete.cases",
  "cor",
  "cov",
  "fitted",
  "formula",
  "logLik",
  "mad",
  "median",
  "nls.control",
  "optim",
  "optimise",
  "profile",
  "qchisq",
  "quantile",
  "reshape",
  "residuals",
  "rgamma",
  "rlnorm",
  "rnorm",
  "rpois",
  "sd",
  "setNames",
  "update",
  "var",
  "vcov",
  "window")
importFrom("graphics",
  "plot",
  "axis",
  "box",
  "points")
importFrom("grDevices",
  "colorRamp",
  "gray",
  "rainbow",
  "rgb")
importFrom("lattice",
  "barchart",
  "bwplot",
  "densityplot",
  "dotplot",
  "draw.key",
  "histogram",
  "larrows",
  "llines",
  "lpoints",
  "panel.abline",
  "panel.barchart",
  "panel.fill",
  "panel.grid",
  "panel.lmline",
  "panel.lines",
  "panel.loess",
  "panel.number",
  "panel.polygon",
  "panel.qqmath",
  "panel.qqmathline",
  "panel.splom",
  "panel.superpose",
  "panel.xyplot",
  "prepanel.default.xyplot",
  "qqmath",
  "simpleKey",
  "splom",
  "strip.custom",
  "stripplot",
  "trellis.device",
  "trellis.focus",
  "trellis.par.set",
  "trellis.unfocus",
  "wireframe",
  "xyplot")
importFrom("grid",
  "gpar",
  "unit",
  "viewport")
export(
  "abind",
  "abModel",
  "abPars",
  "ac",
  "an",
  "ar1rlnorm",
  "bevholt",
  "bevholtAR1",
  "bevholtss3",
  "bevholtSV",
  "bias",
  "biased",
  "cor2cov",
  "createFLAccesors",
  "cushing",
  "evalPredictModel",
  "ibind",
  "is.FLQuant",
  "is.FLStock",
  "geomean",
  "getPlural",
  "getSlotNamesClass",
  "loglAR1",
  "qbind",
  "readADMB",
  "readVPAFile",
  "readVPA2Box",
  "readFLIndex",
  "read.FLIndex",
  "readFLIndices",
  "read.FLIndices",
  "readFLStock",
  "ricker",
  "rickerAR1",
  "rickerCa",
  "rickerSV",
  "sbind",
  "segreg",
  "segregAR1",
  "shepherd",
  "shepherdSV",
  "spread",
  "sop",
  "SRModelName",
  "SRNameCode",
  "survSRR",
  "svModel",
  "svPars",
  "ubind",
  "uom",
  "uomUnits",
  "writeADMB",
  "writeFLStock",
  "ybind")
exportClasses(
  "FLArray",
  "FLComp",
  "FLComps",
  "FLBiol",
  "FLBiolcpp",
  "FLBiols",
  "FLCohort",
  "FLCohorts",
  "FLComp",
  "FLI",
  "FLIndex",
  "FLIndexBiomass",
  "FLIndices",
  "FLlst",
  "FLModel",
  "FLModelSim",
  "FLModelSims",
  "FLPar",
  "FLParJK",
  "FLPars",
  "FLQuant",
  "FLQuantDistr",
  "FLQuantJK",
  "FLQuantPoint",
  "FLQuants",
  "FLSR",
  "FLSRs",
  "FLS",
  "FLStock",
  "FLStockLen",
  "FLStocks",
  "predictModel")
exportMethods(
  "iter",
  "$",
  "+",
  "%*%",
  "%+%",
  "%/%",
  "%-%",
  "%^%",
  "%=%",
  "[",
  "[<-",
  "ab",
  "AIC",
  "apply",
  "areaMeans",
  "areaSums",
  "areaVars",
  "as.data.frame",
  "as.FLBiol",
  "as.FLIndex",
  "as.FLQuant",
  "as.FLStock",
  "as.FLSR",
  "Arith",
  "barchart",
  "bias",
  "bkey",
  "bmsy",
  "breaks",
  "bubbles",
  "bwplot",
  "catch",
  "catch<-",
  "catch.n",
  "catch.n<-",
  "catch.q",
  "catch.q<-",
  "catch.sel",
  "catch.wt",
  "catch.wt<-",
  "catches",
  "catches<-",
  "cbind2",
  "ccplot",
  "coerce",
  "combine",
  "computeDiscards",
  "computeCatch",
  "computeD",
  "computeHessian",
  "computeLandings",
  "computeLogLik",
  "computeStock",
  "corrected",
  "cost",
  "ccost",
  "covar",
  "covar<-",
  "cpue",
  "cv",
  "dbind",
  "densityplot",
  "desc",
  "desc<-",
  "details",
  "details<-",
  "dim",
  "dimnames<-",
  "dims",
  "dimMeans",
  "dimSums",
  "dimVars",
  "discards",
  "discards<-",
  "discards.n",
  "discards.n<-",
  "discards.sel",
  "discards.sel<-",
  "discards.wt",
  "discards.wt<-",
  "distr",
  "distr<-",
  "distribution",
  "distribution<-",
  "dotplot",
  "drop",
  "e",
  "e<-",
  "effort",
  "effort<-",
  "exp",
  "expand",
  "fapex",
  "fbar",
  "fcost",
  "fcost<-",
  "fec",
  "fec<-",
  "fitted",
  "fitted<-",
  "flc2flq",
  "FLBiol",
  "FLBiols",
  "FLCohort",
  "FLCohorts",
  "FLIndex",
  "FLIndexBiomass",
  "FLIndices",
  "FLlst",
  "FLModel",
  "FLModelSim",
  "FLModelSims",
  "FLPar",
  "FLParJK",
  "FLPars",
  "FLQuant",
  "FLQuantDistr",
  "FLQuantJK",
  "FLQuantPoint",
  "FLQuants",
  "FLSR",
  "FLSRs",
  "FLStock",
  "FLStockLen",
  "FLStocks",
  "fmsy",
  "fwd",
  "fwdWindow",
  "getPlural",
  "gr",
  "gr<-",
  "halfwidth",
  "harvest",
  "harvest<-",
  "harvest.spwn",
  "harvest.spwn<-",
  "hessian",
  "hessian<-",
  "histogram",
  "ifelse",
  "index",
  "index<-",
  "index.q",
  "index.q<-",
  "index.var",
  "index.var<-",
  "initial",
  "initial<-",
  "iter",
  "iter<-",
  "iterCVs",
  "iterMeans",
  "iterMedians",
  "iterProb",
  "iterSums",
  "iterVars",
  "iters",
  "jackknife",
  "jackSummary",
  "landings",
  "landings<-",
  "landings.n",
  "landings.n<-",
  "landings.sel",
  "landings.sel<-",
  "landings.wt",
  "landings.wt<-",
  "lapply",
  "leftbound",
  "leslie",
  "log",
  "logerror",
  "logerror<-",
  "logl",
  "logl<-",
  "logLik",
  "logLik<-",
  "lower",
  "lower<-",
  "lowess",
  "lowq",
  "lowq<-",
  "m",
  "m<-",
  "m.spwn",
  "m.spwn<-",
  "mass",
  "mat",
  "mat<-",
  "mean",
  "mean<-",
  "meanLifespan",
  "metrics",
  "mcf",
  "median",
  "median<-",
  "mids",
  "fmle",
  "model",
  "model<-",
  "model.frame",
  "msy",
  "mvrnorm",
  "n",
  "n<-",
  "name",
  "name<-",
  "names",
  "names<-",
  "nls",
  "orig",
  "params",
  "params<-",
  "parscale",
  "plot",
  "predict",
  "predictModel",
  "price",
  "price<-",
  "print",
  "profile",
  "profit",
  "propagate",
  "pv",
  "qapply",
  "qmax",
  "qmin",
  "quant",
  "quant<-",
  "quantile",
  "quantMeans",
  "quantSums",
  "quantVars",
  "quantTotals",
  "r",
  "range",
  "range<-",
  "rbind2",
  "readMFCL",
  "rec",
  "rec<-",
  "rec.obs",
  "refpts",
  "residuals",
  "residuals<-",
  "revenue",
  "rgamma",
  "rightbound",
  "rlnoise",
  "rlnorm",
  "rnoise",
  "rnorm",
  "rpois",
  "rSq",
  "ruleset",
  "sbmsy",
  "sd",
  "seasonMeans",
  "seasonSums",
  "seasonVars",
  "sel.pattern",
  "sel.pattern<-",
  "setPlusGroup",
  "show",
  "slots",
  "sp",
  "splom",
  "spr0",
  "spwn",
  "spwn<-",
  "sigma",
  "simplify",
  "slim",
  "ssb",
  "ssb<-",
  "ssf",
  "ssbpurec",
  "ssn",
  "sr",
  "stock",
  "stock<-",
  "stock.n",
  "stock.n<-",
  "stock.wt",
  "stock.wt<-",
  "stripplot",
  "subset",
  "summary",  
  "survey",
  "survprob",
  "sv",
  "sweep",
  "tail",
  "tep",
  "transform",
  "trim",
  "tS",
  "tS<-",
  "tsb",
  "tsp",
  "type",
  "type<-",
  "units",
  "units<-",
  "unitMeans",
  "unitSums",
  "unitVars",
  "update",
  "upper",
  "upper<-",
  "uppq",
  "uppq<-",
  "var",
  "var<-",
  "vb",
  "vcost",
  "vcost<-",
  "vcov",
  "vcov<-",
  "verify",
  "window",
  "wt",
  "wt<-",
  "xyplot",
  "yearMeans",
  "yearSums",
  "yearTotals",
  "yearVars",
  "z",
  "rngyear",
  "rngyear<-",
  "rngage", 
  "rngage<-", 
  "vecyear",
  "vecage",
  "wireframe")
export(
  "flq",
  "flqp",
  "flqd",
  "flc",
  "flp",
  "fls",
  "flsl",
  "fli",
  "flib",
  "flsr",
  "flq",
  "flcs",
  "flss",
  "flis",
  "flps",
  "flb",
  "flbs",
  "flms",
  "flmss",
  "knit_print.FLQuant",
  "pm")
